@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader{
    animation: rotate 2s linear infinite;
    position: absolute;
    left: 50%;
    margin-top: 4rem;
    font-size: 5rem;
    margin-left: -2.5rem;
}