.repo {
  background-color: #0e1129;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.2rem solid #9da5d1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 0 100%;
  align-items: start;
  min-width: 0;
  word-break: break-word;
}

@media (min-width: 768px) {
  .repo {
    flex: 1 1 calc(50% - 1.2rem);
  }
}

.stats {
  display: flex;
  gap: 1rem;
}
.stats div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border-bottom: 0.1rem solid #9da5d1;
}

.repo_btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #9da5d1;
  background-color: #2b3566;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
