.user {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

@media (min-width: 768px) {
  .user {
    max-width: 70%;
    margin: 1.5rem auto;
  }
}

.user img {
  width: 14rem;
  height: 14rem;
  border: 0.4rem solid #6441ff;
  border-radius: 50%;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location svg {
  fill: #4ed8c7;
  font-size: 1.5rem;
}

.location span {
  color: #9da5d1;
  font-weight: bold;
}

.stats {
  display: flex;
}

.stats div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stats .number {
  width: 6rem;
  background-color: #4ed8c7;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.user a {
  text-align: center;
  background-color: #644aff;
  border-radius: 0.5rem;
  font-weight: 900;
  opacity: 0.8;
  transition: 0.5s;
}

.user a:hover {
  opacity: 1;
  transform:  scale(1.05);
}

.botoes {
  display: flex;
  gap: 0.5rem;
}

.botoes a{
  width: 9rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .botoes {
    flex-direction: column;
    gap: 1rem;
  }
}